{% extends 'base.html' %}
{% block content %}
<div class="container p-4 rounded-4" style="background-color: var(--primary-main-color);">
    <h2>
        {% if edit %}
        Edit
        {% else %}
        Add
        {% endif %}
        Event
    </h2>
    <form method="post" class="p-3 form-border">
        {% csrf_token %}
        <div class="form-group" {% if event_type == 'TODO' %} style="display:none;" {% endif %}>
            <label id="parent" for="id_parent">Watcher</label>
            {{ form.parent }}
        </div>
        <div class="form-row">
            <div class="row" {% if event_type == 'TODO' %} style="display:none;" {% endif %}>
                <div class="form-group col-md-4">
                    <label for="id_parent">Value</label>
                    {{ form.value }}
                </div>
                <div class="form-group col-md-4">
                    <label for="add_value">Add Value</label>
                    <input type="number" id="add_value" name="add_value" class="form-control" value="0">
                </div>
                <div class="form-group col-md-4 d-flex align-items-end">
                    <button type="button" class="btn btn-primary w-100" onclick="add()">Add</button>
                </div>
            </div>
            <div id="type" class="form-group col-md-4" {% if event_type == 'TODO' %} style="display:none;" {% endif %}>
                <label for="id_parent">Type</label>
                {{ form.type }}
            </div>
            <div class="form-group col-md-4">
                <label for="id_parent">Date</label>
                {{ form.date }}
            </div>
        </div>
        <div class="form-group">
            <label id="description" for="id_parent">Description</label>
            {{ form.description }}
        </div>
        <div class="text-right">
            <a href="{{cancel_url}}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">
                {% if edit %}
                Update
                {% else %}
                Add
                {% endif %}
            </button>
        </div>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const type_element = document.getElementById('id_type');
        const description_element = document.getElementById('id_description');
        if (type_element && description_element) {
            // Submit the form automatically when a file is selected
            type_element.addEventListener("change", () => {
                description_element.innerHTML = type_element.value
            });
        }
        value.value = 0;
    });

    function add() {
        const add_value = document.getElementById('add_value').value;
        const value = document.getElementById('id_value');
        if (isNaN(parseInt(value.value))) {
            value.value = parseInt(add_value);
        }
        else {
            value.value = parseInt(value.value) + parseInt(add_value);
        }
    }   
</script>
{% endblock %}