.card {
    background-color: #fff;
    border-radius: 8px;
    border: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}


.bg-statement-color {
    background: linear-gradient(to right, #4caf50, #8bc34a) !important;
    color: #fff;
}

.bg-watcher-color {
    background: linear-gradient(160deg, #757ce8, #212121) !important;
    background: #3e688c !important;
    color: var(--primary-text-color);
}

.bg-distribution-color {
    background: linear-gradient(to right, #2196f3, #64b5f6) !important;
    color: #fff;
}

.bg-distribution-notice-color {
    background: linear-gradient(to right, #ff9800, #ffc107) !important;
    /* Orange shades */
    color: #000;
}

.bg-capital-call-color {
    background: linear-gradient(to right, #ff5722, #ff8a65) !important;
    /* Reddish-orange shades */
    color: #fff;
}

.bg-wire-receipt-color {
    background: linear-gradient(to right, #673ab7, #9575cd) !important;
    /* Purple shades */
    color: #fff;
}

.bg-commitment-color {
    background: linear-gradient(to right, #009688, #4db6ac) !important;
    /* Teal shades */
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, blue, #4c4cff) !important;
    color: #fff;
}

.l-bg-blue-light {
    background: linear-gradient(to right, #426dd2, #6584aa) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #214643, #26a456) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.l-bg-black-dark {
    background: linear-gradient(to right, #000000, #414141) !important;
    color: #fff;
}

.l-bg-yellow-dark {
    background: linear-gradient(to right, #FFDF00, #fff197) !important;
    color: red;
}

.card-icon-large {
    font-size: 110px;
}

.card-icon-white {
    color: #fff;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    color: #000;
    position: absolute;
    right: 8px;
    top: 8px;
    opacity: 0.1;
}

.item-component {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .item-component {
        font-size: 1rem;
    }
}