<ul class="dropdown-menu">
    <a class="dropdown-item" href="/events_cards/date?type=notice">Pending Events</a>
    <a class="dropdown-item" href="/events_cards/-date">Recent Events</a>
    <a class="dropdown-item" href="/events_cards/-date?type=missing">Missing watchers</a>
    <a class="dropdown-item" href="/events_cards/-date?type=unfunded">Unfunded Watchers</a>
    <a class="dropdown-item" href="/create_watcher_form">Add Watcher</a>
    <a class="dropdown-item" href="/create_event_form">Add Event</a>
    <li>
        <hr class="dropdown-divider">
    </li>
    <button id="install-button" style="display: none;">Install App</button>
    <a class="dropdown-item" href="{% url 'logout' %}">Logout ({{ user.username }})</a>
</ul>