{% extends "base.html" %}
{% block content %}
<h2>Anomalous Watchers</h2>
<div id="loader" class="hstack">
    <center>
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </center>
</div>
<div id="result"></div>
<table id="anomalous-table" class="table table-bordered table-striped"
    style="border-radius: 10px; overflow: hidden; display: none;">
    <thead>
        <tr>
            <th>Watcher</th>
            <th>Event Type</th>
            <th>Last Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    document.getElementById('loader').style.display = 'block';
    fetch('/get_anomalous/')
        .then(response => response.json())
        .then(data => {
            // fill the table with data
            let table = document.querySelector('table tbody');
            data.forEach(item => {
                let row = table.insertRow();
                row.onclick = () => window.location.href = `/watcher/${item.watcher_id}/`;
                row.style.cursor = 'pointer';
                row.insertCell().textContent = item.watcher;
                row.insertCell().textContent = item.event_type;
                row.insertCell().textContent = item.last_date;
            });
            document.getElementById('loader').style.display = 'none';
            document.getElementById('anomalous-table').style.display = 'table';
            set_page_name("Anomalous Watchers");
        });

    // set page name
    document.addEventListener('DOMContentLoaded', function () {
        set_page_name("Loading Anomalous Watchers ...");
    });

    function set_page_name(name) {
        let page_name = document.getElementById("page_name");
        page_name.textContent = name;
    }
</script>
{% endblock %}