{% extends "base.html" %}

{% block content %}
<div style="height: 20px;"></div>
<div class="container p-4 rounded-4" style="background-color: var(--primary-dialog-color);">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id-parent">Watcher name</label>
            {{ form.name }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id-parent">Currency</label>
                {{ form.currency }}
            </div>
            <div class="form-group col-md-4">
                <label for="id-parent">Type</label>
                {{ form.type }}
            </div>
            <div class="form-group col-md-4">
                <label for="id-parent">Advisor</label>
                {{ form.advisor }}
            </div>
            <div class="form-group col-md-6">
                <label for="id-parent">Active</label>
                {{ form.active }}
            </div>
        </div>
        <div class="text-right pt-2">
            <a href="{% url 'watchers' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let page_name = document.getElementById("page_name");
        page_name.innerHTML = "Add Watcher";
    });
</script>
{% endblock %}