{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'js/watchers_plots.js' %}"></script>
{% if error %}
<h3 style="color: red;">{{error}}</h3>
{% else %}
<div>
    <div class="row p-2">
        <div class="col-sm-12 col-md-3 mb-2">
            <a href="/create_event_form/{{name}}" class="btn btn-primary">
                <span>Add event</span>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 app-data-item p-2">
            <span class="data-value highlight" style="font-size: large;">Value -
                {{watcher_info.value}}</span>
        </div>
        <div class="col-sm-12 col-md-3 d-flex align-items-center justify-content-end app-text-color">
            <h6>Advisor - {{watcher.advisor.name}}</h6>
        </div>
    </div>
    <div class="app-card">
        {% include "watchers/watcher_fin_info.html" %}
    </div>
    <div class="app-card">
        {% include "events/events.html" %}
    </div>
    <div class="app-card">
        <div id="Statement" style="min-height: 300px;"></div>
    </div>
    <div class="app-card">
        {% with s=watcher.monthly_statements_data %}
        {% with d=watcher.monthly_distribution_data %}
        {% with w=watcher.monthly_wire_data %}
        {% include "tables/monthly_tabs.html" with statements=s distributions=d wire=w %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("DOMContentLoaded watcher.html");
        fetchWatcherPlotsData("{{ watcher.id }}", "Statement", on_done);

        let page_name = document.getElementById("page_name");
        page_name.innerHTML = "{{ watcher.name }}";
    });

    function on_done(data, event_type) {
        let title = "{{ watcher.name }} ";
        console.log("0", data);
        data = data.slice(-12);
        console.log("1", data);
        generateCurrencyPlot(data, title + "ITD - {{watcher_info.itdp}} " + "XIRR - {{watcher_info.xirr}}", "", "", "Statement");
    }
</script>
{% endif %}
{% endblock %}