<div class="row">
    <div class="col-sm-12 p-2">
        <div class="data-grid data-container data-grid-6">
            <div class="data-item">
                <span class="data-label">Invested</span>
                <span class="data-value">{{watcher_info.invested}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">Commitment</span>
                <span class="data-value">{{watcher_info.commitment}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">Unfunded</span>
                <span class="data-value">{{watcher_info.unfunded}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">Net Gain</span>
                <span class="data-value">{{watcher_info.net_gain}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">Dist ITD</span>
                <span class="data-value">{{watcher_info.Dist_ITD}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">Dist YTD</span>
                <span class="data-value">{{watcher_info.Dist_YTD}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">ROI</span>
                <span class="data-value">{{watcher_info.roi}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">ITD</span>
                <span class="data-value">{{watcher_info.itdp}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">YTD</span>
                <span class="data-value highlight">{{watcher_info.ytdp}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">IRR</span>
                <span class="data-value">{{watcher_info.irr}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">XIRR</span>
                <span class="data-value">{{watcher_info.xirr}}</span>
            </div>
            <div class="data-item">
                <span class="data-label">Duration</span>
                <span class="data-value">{{watcher_info.years}} Years</span>
            </div>
        </div>
    </div>
</div>