{% load static %}
<script src="{% static 'js/watchers_plots.js' %}"></script>

<center>
    <div class="row mt-2">
        <div class="col-12 col-sm-6">
            <div class="card mb-3" id="Total_in_NIS_Statement" style="height: 300px;">
                <div class="spinner-border text-primary" id="Total_in_NIS_Statement_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card mb-3" id="Total_in_NIS_Distribution" style="height: 300px;">
                <div class="spinner-border text-primary" id="Total_in_NIS_Distribution_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" id="more_btn" onclick="show_more_plolts()">Show More</button>
    <div class="row mt-2" style="display: none;" id="more_plots">
        <div class="col-12 col-sm-4">
            <div class="card mb-3" id="USD_Statement" style="height: 300px;">
                <div class="spinner-border text-primary" id="USD_Statement_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3" id="NIS_Statement" style="height: 300px;">
                <div class="spinner-border text-primary" id="NIS_Statement_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3" id="EUR_Statement" style="height: 300px;">
                <div class="spinner-border text-primary" id="EUR_Statement_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3" id="USD_Distribution" style="height: 300px;">
                <div class="spinner-border text-primary" id="USD_Distribution_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3" id="NIS_Distribution" style="height: 300px;">
                <div class="spinner-border text-primary" id="NIS_Distribution_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card mb-3" id="EUR_Distribution" style="height: 300px;">
                <div class="spinner-border text-primary" id="EUR_Distribution_spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</center>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetchWatchersPlotsData("Total_in_NIS", "Statement", (data) => {
            on_done(data, "Total_in_NIS", "Statement")
            fetchWatchersPlotsData("Total_in_NIS", "Distribution", on_done);
        });
    });


    function show_more_plolts() {
        console.log("show_more_plolts")
        document.getElementById("more_btn").style.display = "none";
        document.getElementById("more_plots").style.display = "block";
        let currencies = ["USD", "NIS", "EUR"];
        let max_timeout = 1000
        for (let currency of currencies) {
            setTimeout(() => {
                fetchWatchersPlotsData(currency, "Statement", on_done);
            }, Math.random() * max_timeout);
            setTimeout(() => {
                fetchWatchersPlotsData(currency, "Distribution", on_done);
            }, Math.random() * max_timeout);
        }
    }

    function on_done(data, currency, event_type) {
        let object_id = currency + "_" + event_type;
        generate_plot(data, event_type, currency, object_id);
    }

    function on_done_full_width(data, currency, event_type) {
        let object_id = currency + "_" + event_type + "_full_width";
        generate_plot(data, event_type, currency, object_id);
    }

    function generate_plot(data, event_type, currency, object_id) {
        //document.querySelector('.spinner-border').style.display = 'none';
        let spinner = document.getElementById(currency + "_" + event_type + "_spinner");
        if (spinner)
            spinner.style.display = 'none';
        currency = currency.replace(/_/g, " ")
        let title = event_type + " - " + currency
        // leave only the 12 latest elements in the dada array
        if (event_type == "Statement") {
            data = data.slice(-12);
            title = currency + " " + get_profit(data);
        }
        if (event_type == "Distribution") {
            //title += " (per Quarter)"
        }
        console.log("generate_plot", event_type, currency, title)
        console.log(data)

        generateCurrencyPlot(data, title, "", "", object_id);
    }
</script>