{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<style>
    table tbody tr:hover {
        cursor: pointer;
    }

    .center {
        text-align: center;
        vertical-align: middle;
        /* Aligns text and buttons vertically */
    }

    th,
    td {
        white-space: nowrap;
        text-align: center;
    }

    th.sortable:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .sorted::after {
        content: '\2193';
        /* Unicode for arrow down */
        margin-left: 5px;
    }
</style>
<ul class="nav nav-pills pt-2" role="tablist" id="cards_tabs">
    {% for currency, watchers in currency_groups.items %}
    {% if watchers %}
    <li class="nav-item">
        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ currency }}_tab"
            role="tab">
            {{ currency }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="nav-item nav-link" onclick="show_table()" id="show_btn">Show in table</li>
</ul>

<div class="tab-content" id="cards_id">
    {% for currency, watchers in currency_groups.items %}
    {% if watchers %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ currency }}_tab" role="tabpanel">
        <div class="row">
            {% for w in watchers %}
            <div class="col-sm-12 col-md-4 pt-4 d-flex align-items-stretch">
                {% with html="components/action_card.html" %}
                {% with id=w.id|stringformat:"s" %}
                {% with value=w.values.value %}
                {% with url='/watcher/'|add:id %}
                {% with dist=w.values.Dist_ITD %}
                {% with items="Value: "|add:value|add:"-,-Dist: "|add:dist|make_list %}
                {% include html with title=w.name items=items url=url bg="watcher-color" %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<ul class="nav nav-pills pt-2" role="tablist" id="table_tabs" style="display: none;">
    {% for currency, watchers in currency_groups.items %}
    {% if watchers %}
    <li class="nav-item">
        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#{{ currency }}_tab2"
            role="tab">
            {{ currency }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="nav-item nav-link" onclick="show_cards()" id="show_btn">Show in cards</li>
</ul>
<div class="tab-content app-card" id="table_id" style="display: none;">
    {% for currency, watchers in currency_groups.items %}
    {% if watchers %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ currency }}_tab2" role="tabpanel">
        <div class="table-container data-bg">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th class="sortable" data-column="name" style="width: 30%; text-align: left;">Name</th>
                        <th class="sortable" data-column="value" style="width: 10%;">Value</th>
                        <th class="sortable" data-column="invested">Invested</th>
                        <th class="sortable mobile-hide" data-column="Dist_YTD">Dist-YTD</th>
                        <th class="sortable mobile-hide" data-column="Dist_ITD">Dist-ITD</th>
                        <th class="sortable" data-column="roi">ROI</th>
                        <th class="sortable mobile-hide" data-column="years">Duration</th>
                        <th class="center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for watcher in watchers %}
                    <tr class="clickable-row" data-watcher-id="{{ watcher.id }}">
                        <td title="Advisor: {{ watcher.advisor }}&#10;Active: {{ watcher.active }}&#10;Type: {{ watcher.type }}&#10;Currency: {{ watcher.currency }}&#10;{{ watcher.count }} Events"
                            style="text-align: left;">
                            {{ watcher.name }}
                            {% if watcher.missing_events %}
                            <span style="color: red;">*</span>
                            {% endif %}
                        </td>
                        <td>{{ watcher.values.value }}</td>
                        <td>{{ watcher.values.invested }}</td>
                        <td class="mobile-hide">{{ watcher.values.Dist_YTD }}</td>
                        <td class="mobile-hide">{{ watcher.values.Dist_ITD }}</td>
                        <td>{{ watcher.values.roi }}</td>
                        <td class="mobile-hide">{{ watcher.values.years }}</td>
                        <td class="center">
                            <button class="btn btn-primary btn-sm" onclick="confirmDelete('{{ watcher.id }}')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No watchers available</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<!-- Delete Confirmation Dialog -->
<div id="deleteModal" class="modal" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="close" onclick="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this watcher? All events associated with this watcher will also be
                    deleted.</p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">YES</button>
                </form>
                <button type="button" class="btn btn-secondary" onclick="closeModal()">NO</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll(".clickable-row");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                const watcherId = row.getAttribute("data-watcher-id");
                window.location.href = "/watcher/" + watcherId;
            });
        });

        const headers = document.querySelectorAll("th.sortable");
        headers.forEach(header => {
            header.addEventListener("click", () => {
                headers.forEach(h => h.classList.remove("sorted"));
                if (header.getAttribute("data-column") !== "name") {
                    header.classList.add("sorted");
                }
                const column = header.getAttribute("data-column");
                sortTable(column);
            });
        });
    });

    function sortTable(column) {
        const table = document.querySelector("table tbody");
        const rows = Array.from(table.querySelectorAll("tr"));
        const isNumericColumn = ["name  ", "roi", "years"].includes(column);
        rows.sort((a, b) => {
            let aText = a.querySelector(`td:nth-child(${getColumnIndex(column)})`).textContent.trim();
            let bText = b.querySelector(`td:nth-child(${getColumnIndex(column)})`).textContent.trim();
            let aInK = true
            let bInK = true
            if (!isNumericColumn) {
                if (aText.includes("K")) {
                    aText = aText.replace("K", "");
                }
                else {
                    aInK = false
                }
                if (bText.includes("K")) {
                    bText = bText.replace("K", "");
                }
                else {
                    bInK = false
                }
                aText = aText.replace("$", "");
                bText = bText.replace("$", "");
            }
            if (isNaN(parseFloat(aText)) || isNaN(parseFloat(bText))) {
                return aText.localeCompare(bText);
            }
            else {
                return (parseFloat(bText) * (bInK ? 1000 : 1)) - (parseFloat(aText) * (aInK ? 1000 : 1));
            }
        });

        rows.forEach(row => table.appendChild(row));
    }

    function getColumnIndex(column) {
        const columns = {
            "name": 1,
            "value": 2,
            "invested": 3,
            "Dist_YTD": 4,
            "Dist_ITD": 5,
            "roi": 6,
            "years": 7
        };
        return columns[column];
    }

    function confirmDelete(watcherId) {
        event.stopPropagation();

        const deleteModal = document.getElementById('deleteModal');
        const deleteForm = document.getElementById('deleteForm');

        deleteForm.action = `/watchers/delete/${watcherId}/`;

        deleteModal.style.display = 'block';
    }

    function closeModal() {
        const deleteModal = document.getElementById('deleteModal');
        deleteModal.style.display = 'none';
    }

    function show_table() {
        document.getElementById("table_tabs").style.display = "flex";
        document.getElementById("table_id").style.display = "block";
        document.getElementById("cards_tabs").style.display = "none";
        document.getElementById("cards_id").style.display = "none";
    }

    function show_cards() {
        document.getElementById("table_tabs").style.display = "none";
        document.getElementById("table_id").style.display = "none";
        document.getElementById("cards_tabs").style.display = "flex";
        document.getElementById("cards_id").style.display = "block";
    }
</script>
{% endblock %}