{% load static %}
<div class="card bg-{{ bg }}" style="width: 100%; cursor: pointer;" onclick="openUrl('{{ url }}')">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
    <div class="card-header"><strong>{{ title }}</strong></div>
    {% if items %}
    <div class="card-body d-flex flex-wrap p-2">
        <div class="row w-100 m-0">
            {% for item in items %}
            <div class="col card-text ms-2 p-0">{{ item }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<script>
    function openUrl(url) {
        console.log("openUrl", url);
        window.location.href = url;
        //        setTimeout(() => {
        //           window.location.href = url;
        //      }, 3000);
    }
</script>