<!-- <div>
input: card 
    card.base_color
    card.title
    card.title_icon
    card.items - list of:
        item.text_left
        item.text_right
input click_event
    click_event - url to redirect to when the card is clicked
</div> -->


<div class="card l-bg-{{card.base_color}}-dark">
    <div class="card-statistic-3 p-4" id="card_container" onclick="click_event('{{ click_event }}')"
        style="cursor: pointer;">
        <div class="card-icon card-icon-large">
            <i class="fas {{ card.title_icon }}"></i>
        </div>
        <h3 class="text-center" style="font-style: italic;">{{ card.title }}</h3>
        {% if type == 'items_card' %}
        <div class="container p-0 m-2">
            {% for item in card.items %}
            <div class="row">
                <div class="col-6 text-left">
                    <div class="item-component">{{ item.text_left }}</div>
                </div>
                <div class="col-6 text-center">
                    <div class="item-component">{{ item.text_right }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="container-fluid m-0 p-0">
            <div class="row justify-content-center">
                {% for item in card.items %}
                <div class="col-sm-12 col-md-4 text-center">
                    <h4>
                        {{ item.text_left }} - {{ item.text_right }}
                    </h4>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script>
    // onload function
    function onload() {
        // get the card container
        var card_container = document.getElementById('card_container');
        // if click_event is defined, add a pointer cursor
        console.log("onload", '{{card.title}}', '{{ click_event }}', '{{ click_event }}'.length);
        if (card_container) {
            if ('{{ click_event }}'.length === 0) {
                console.log("onload setting cursor to default", '{{card.title}}');
                card_container.style.cursor = 'default';
            }
        }
    }

    // Call onload function when the HTML is fully loaded
    document.addEventListener('DOMContentLoaded', onload);
    function click_event(click_event) {
        if (click_event) {
            window.location.href = click_event;
        }
    }
</script>