<!doctype html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.png' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/pwa-install.js' %}"></script>

    <style>
        /* Main content */
        main {
            margin-left: 0px;
            padding: 0px 20px;
            background-color: lightgray;
        }

        table thead {
            background-color: var(--primary-main-color);
            color: white;
        }

        .app_bg_color {
            background-color: var(--primary-main-color);
        }
    </style>
    <title>{% block title %}Watchers AI{% endblock %}</title>
</head>
<!-- <div class="hstack justify-content-around"> -->

<body>
    {% if user.is_authenticated %}
    <nav class="navbar bg-primary border-bottom sticky-top pb-2">
        <div class="hstack justify-content-between w-100 px-3">
            <a class="col-3 navbar-brand m-0 p-0" style="color: var(--primary-main-color);" href="/">
                <i class="fa-regular fa-eye"></i>
            </a>
            <h3 class="col-6 text-center app-text-color m-0" id="page_name">Dashboard</h3>
            <div class="col-3 d-flex justify-content-end m-0 p-0 align-items-center">
                <div class="search-box">
                    <button class="btn-search border-0 p-2"
                        style="background-color: transparent; color: var(--primary-light-color);"
                        onclick="document.querySelector('.input-search').focus();">
                        <i class="fas fa-search" style="color: var(--primary-main-color);"></i>
                    </button>
                    <input type="text" list="watchersListOptions" class="input-search" placeholder="Type to Search..."
                        oninput="if(true) {     
                                searchResults(this.value);
                                event.preventDefault();
                        }">
                    <datalist id="watchersListOptions" />
                </div>
                <div class="dropdown dropstart">
                    <a class="btn btn-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    {% include 'menues/dropdown_menu.html' %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Main Content -->
    <main class="bg-primary" style="min-height: 100vh;">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <script>
                setTimeout(function () {
                    $('.alert').alert('close');
                }, 10000); // 10 seconds
            </script>
        </div>
        {% endfor %}
        {% endif %}
        <div id="searchResults" />
        <div id="content" name="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    {% endif %}
</body>
<script>
    window.addEventListener('load', (event) => {
        get_watchers();
    });

    if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/static/js/service-worker.js")
            .then(reg => console.log("Service Worker Registered!", reg))
            .catch(err => console.log("Service Worker Registration Failed!", err));
    }
</script>

</html>